{
    "extends": "airbnb-base",
    "rules": {
        "no-eq-null": "off"
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
          "experimentalObjectRestSpread": true
        }
    }
}